# Required app config
CONTENTFUL_GRAPHQL_URL=change-me
CONTENTFUL_SPACE_ID=change-me
CONTENTFUL_ACCESS_TOKEN=change-me
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_DEFAULT_LOCALE=en-US

# Nginx / HTTPS
DOMAIN=api.example.com
CERTBOT_EMAIL=admin@example.com

# Image to deploy (set by CI/CD or manually)
# Note: OCIR uses your tenancy *namespace* (often not your tenancy name).
# Example format: <region-key>.ocir.io/<namespace>/<repo>
APP_IMAGE=nrq.ocir.io/axetkqockuac/walks-server
APP_TAG=latest
